* {
  margin: 0;
  padding: 0;
}


body {
  font-family: sans-serif;
  background: aliceblue;
}

nav {
  width: 100%;
  background: darkolivegreen;
}

nav ul {
  display: flex;
}

li {
  list-style: none;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

main {
  padding: 1em;
}
h1 {
  text-align:center;
}

#outlet {
  padding: 1em;
}

footer {
  position:fixed;
  bottom: 1em;
  text-align: center;
  width: 100%;
}
